body {
    background-color: rgb(16, 8, 34);
    user-select: none;
}

.top {
    display: flex;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.heading {
    color: white;
    flex: 1;
    margin-left: 480px;
}

.back {
    width: 150px;
    height: 40px;
    margin-top: 16px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: rgb(249, 10, 10);
    border-color: red;
    border-style: solid;
    color: white;
    font-family: Tahoma;
    font-size: 18px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.back:hover {
    opacity: 0.7;
}

.back:active {
    opacity: 0.2;
}

.all-events {
    display: flex;
    height: 250px;
    border: 3px gold;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.first,
.second,
.third,
.fourth {
    flex: 1;
    background-color: rgb(16, 8, 34);
    border-color: rgb(16, 8, 34);
    border-color: violet;
    cursor: pointer;
    border-style: solid;
    color: yellow;
    margin-right: 20px;
    transition: border-radius 1s, box-shadow 0.5s, transform 1s, opacity 0.8s;
}

.first:hover,
.second:hover,
.third:hover,
.fourth:hover {
    border-radius: 40px;
    box-shadow: 0 0 20px pink;
    transform: rotate3d(0px 0px 10px);
}

.first:active,
.second:active,
.third:active,
.fourth:active {
    opacity: 0.1;

}

.second {
    flex: 1;
    color: yellow;
}

.third {
    flex: 1;
    color: yellow;
}

.first,
.second,
.third {
    display: flex;
    flex-direction: column;
}

.event-main-heading {
    margin-top: 40px;
    flex: 1;
    margin-bottom: 0px;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.description {
    margin-top: 5px;
    padding-top: 0px;
    flex: 2;
    font-size: 14px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.conduct {
    color: rgba(255, 0, 0, 0.864);
}

.info {
    color: rgb(101, 214, 30);
}

.second-main {
    display: flex;
    height: 250px;
    border: 3px gold;
    margin-left: 450px;
    margin-right: 300px;
    margin-top: 50px;
    width: 330px;
}

.fourth {
    flex: 1;

}